body{
    font-family: 'Roboto Slab', serif;
}
span{
    color: rgb(255, 166, 0);
}
h1{
    color: rgb(82, 68, 68);
    font-size: 35px;
}
section{
    width: 50%;
    height: 200px;
    
    
}
.div1{
    padding-left: 50px;
    padding-top: 150px;
}
.ForPara{
    color: rgba(99, 89, 89, 0.705);
    font-weight: 100;
    font-size: 12px;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px;
    border-radius: 50px;
    color: white;
}
img{
    width: 100%;
    display: flex;
}